<!-- Modal Inscripción -->
<div class="modal fade" id="modalInscripcion" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header border-bordo">
        <h5 class="modal-title text-primary">Inscribir Cliente</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <form method="post" action="{% url 'membresias:membresias_inscribir' %}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-6">{{ form.nombre.label_tag }} {{ form.nombre }}</div>
            <div class="col-md-6">{{ form.apellido.label_tag }} {{ form.apellido }}</div>
            <div class="col-md-6">{{ form.dni.label_tag }} {{ form.dni }}</div>
            <div class="col-md-6">{{ form.telefono.label_tag }} {{ form.telefono }}</div>
            <div class="col-md-6">{{ form.emergencia.label_tag }} {{ form.emergencia }}</div>
            <div class="col-md-6">{{ form.domicilio.label_tag }} {{ form.domicilio }}</div>
            <div class="col-md-6">{{ form.email.label_tag }} {{ form.email }}</div>
            <div class="col-md-6 bg-transparent">{{ form.servicio.label_tag }} {{ form.servicio }}</div>
            <div class="col-12">{{ form.observaciones.label_tag }} {{ form.observaciones }}</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>