{% extends 'base.html' %}
{% block title %}Empleados{% endblock %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Empleados</h1>
  <a href="{% url 'empleados:empleado_agregar' %}" class="btn btn-primary">+ Nuevo Empleado</a>
</div>


<form method="get" action="{% url 'empleados:empleado_lista' %}" class="mb-3">
  <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Buscar por nombre, apellido o DNI">
</form>

<table class="table table-hover table-bordered align-middle text-center" id="tablaEmpleados">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>DNI</th>
      <th>Teléfono</th>
      <th>Fecha/Hora Alta</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for empleado in page_obj %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ empleado.nombre }} {{ empleado.apellido }}</td>
        <td>{{ empleado.dni }}</td>
        <td>{{ empleado.telefono }}</td>
        <td>{{ empleado.fecha_hora_alta|date:"d/m/Y H:i" }}</td>
        <td>{{ empleado.activo }}</td>
        <td>
          <a href="{% url 'empleado_editar' empleado.pk %}" class="btn btn-sm btn-secondary">Editar</a>
          <a href="{% url 'empleado_eliminar' empleado.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
        </td>
      </tr>
    {% empty %}
      <tr><td colspan="5">No hay empleados registrados.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% include 'empleado_agregar.html' %}

{% if page_obj.has_other_pages %}
<nav>
  <ul class="pagination">
    {% for num in page_obj.paginator.page_range %}
      <li class="page-item {% if num == page_obj.number %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}">{{ num }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>

{% endif %}
{% endblock %}