{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container py-5 text-center">
  <h1 class="mb-4">Menú de Empleados</h1>

  <div class="d-flex flex-column align-items-center gap-3">

    <!-- Botón para ir a la página de alta de empleado -->
  <button class="btn btn-primary btn-lg w-50" data-bs-toggle="modal" data-bs-target="#modalEmpleado">
    + Agregar nuevo empleado
  </button>

    <!-- Botón para listar empleados -->
    <a href="{% url 'empleado_lista' %}" class="btn btn-primary btn-lg w-50">
      👥 Mostrar todos los empleados
    </a>

    <!-- Botón para volver al home -->
    <a href="{% url 'home' %}" class="btn btn-secondary btn-lg w-50">
       Volver al Inicio
    </a>
  </div>
</div>


{% include 'empleado_agregar.html' %}
{% endblock %}