{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<div class="container py-5">
  <div class="text-center mb-5">
    <h1 class="fw-bold text-primary">
      <i class="bi bi-person-workspace"></i> Menú de Empleados
    </h1>
    <p class="text-muted">Gestione el personal de forma rápida y sencilla</p>
  </div>

  <div class="row justify-content-center g-4">
    <!-- Fila con los dos botones uno al lado del otro -->
    <div class="col-12">
      <div class="d-flex justify-content-center gap-3">
        <div class="w-100" style="max-width:360px;">
          <button type="button" class="btn btn-outline-primary btn-lg w-100 shadow-sm"
                  data-bs-toggle="modal" data-bs-target="#modalEmpleado">
            <i class="bi bi-person-plus"></i> Nuevo Empleado
          </button>
        </div>

        <div class="w-100" style="max-width:360px;">
          <a href="{% url 'empleado_lista' %}" class="btn btn-outline-success btn-lg w-100 shadow-sm">
            <i class="bi bi-people"></i>  Lista de empleados
          </a>
        </div>
      </div>
    </div>

    <!-- Botón Volver al Inicio debajo, ocupando el ancho de los dos botones -->
    <div class="col-12">
      <div class="d-flex justify-content-center mt-3">
        <div class="w-100" style="max-width:740px;">
          <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-lg w-100 shadow-sm">
            <i class="bi bi-house-door"></i> Volver al Inicio
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

{% include 'partials/modal_agregar_empleado.html' %}

{% endblock %}
